In [57]:
# Import Statements
from sqlalchemy import create_engine, MetaData, Table
import json
import pandas as pd

In [58]:
# Database Variables
db_url = "mysql+pymysql://maint:strangle.explode.sprout.underfeed.yo-yo@psiturk.sas.upenn.edu:3306/psiturk"
table_name = "JOR"
data_column_name = 'datastring'

In [59]:
# boilerplace sqlalchemy setup
engine = create_engine(db_url)
metadata = MetaData()
metadata.bind = engine
table = Table(table_name, metadata, autoload=True)

In [60]:
# make a query and loop through
s = table.select()
rows = s.execute()
print(type(rows))
data = []
statuses = [0,1, 2,3,4,5,6,7] #status codes of subjects who completed experiment
exclude = [] # if you have workers you wish to exclude, add them here
conditions = []

<class 'sqlalchemy.engine.cursor.LegacyCursorResult'>

In [61]:
# count = 0
# for row in rows:
#     if row['mode'] != 'live':
#         print(row['mode'])
        
#     if row['status'] == 3:
#         print(row['status'])
#     if count > 600:
#         if row['status'] == 3:
#             print(row['datastring']['id'])
        
#     if count == 900:
#         print(row['codeversion'])
#         for i in dict(row):
#             print(i)
#     count += 1

In [62]:
for row in rows:
    # only use subjects who completed experiment and aren't excluded
    if row['status'] in statuses and row['uniqueid'] not in exclude:
        conditions.append({
                'uniqueid': row['uniqueid'],
                'beginhit': row['beginhit'],
                'endhit': row['endhit'],
                'status': row['status'],
                'counterbalance': row['counterbalance'],
                'mode': row['mode'],
                'workerid': row['workerid'],
            })
        
        
        data.append(row[data_column_name])

print(len(data))

1098

In [65]:
condition_frame = pd.DataFrame(conditions)
condition_frame['mode'].unique()

array(['live', 'sandbox'], dtype=object)

In [64]:
checks = ['A3MYPYBVHX7FQ2', 'A2YWLCSIANMV1S', 'A7FQJ15Y5XV6W', 'A1SLD1XTQAUGH', 'A2ZHBK2MDL2L51', ]
for i in checks:
    print(i)
    display(condition_frame[condition_frame['workerid'] == i])

A3MYPYBVHX7FQ2

,uniqueid,beginhit,endhit,status,counterbalance,mode,workerid
775,A3MYPYBVHX7FQ2:3DPNQGW4LMMGT3PSUO2NHZKDNH464A,2021-06-29 16:05:07,NaT,2,44,live,A3MYPYBVHX7FQ2

A2YWLCSIANMV1S

,uniqueid,beginhit,endhit,status,counterbalance,mode,workerid
581,A2YWLCSIANMV1S:35GCEFQ6I6VXZHQZWFUF4SL2ELIZ3M,2021-06-29 14:24:59,NaT,6,7,live,A2YWLCSIANMV1S

A7FQJ15Y5XV6W

,uniqueid,beginhit,endhit,status,counterbalance,mode,workerid
876,A7FQJ15Y5XV6W:33CUSNVVNOJ4GIVIZ6PYIPW9VY488J,2021-06-29 13:30:10,2021-06-29 15:23:04,4,36,live,A7FQJ15Y5XV6W

A1SLD1XTQAUGH

,uniqueid,beginhit,endhit,status,counterbalance,mode,workerid
233,A1SLD1XTQAUGH:3HMVI3QICKZ1KO2FDPED2SX3A711Y6,2021-06-29 13:30:20,2021-06-29 15:00:59,4,72,live,A1SLD1XTQAUGH

A2ZHBK2MDL2L51

,uniqueid,beginhit,endhit,status,counterbalance,mode,workerid
587,A2ZHBK2MDL2L51:3HL8HNGX468D92OFCC1ISD8609PF9M,2021-06-10 17:02:03,2021-06-10 17:29:21,5,72,live,A2ZHBK2MDL2L51

In [9]:
subject_data = []
for subject_json in data:
    try:
        subject_dict = json.loads(subject_json)
        subject_data.append(subject_dict['data'])
    except:
        continue

In [10]:
for part in subject_data:
    for record in part:
        record['trialdata']['uniqueid'] = record['uniqueid']