In [1]:
from sqlalchemy import create_engine, MetaData, Table
import json
import pandas as pd

In [2]:
db_url = "mysql+pymysql://maint:strangle.explode.sprout.underfeed.yo-yo@psiturk.sas.upenn.edu:3306/psiturk"
table_name = "JOR_class"

In [3]:
data_column_name = 'datastring'
# boilerplace sqlalchemy setup
engine = create_engine(db_url)
metadata = MetaData()
metadata.bind = engine
table = Table(table_name, metadata, autoload=True)
# make a query and loop through
s = table.select()

In [4]:
rows = s.execute()

# Status codes
NOT_ACCEPTED = 0
ALLOCATED = 1
STARTED = 2
COMPLETED = 3
SUBMITTED = 4
CREDITED = 5
QUITEARLY = 6
BONUSED = 7

In [5]:
data = []
#status codes of subjects who completed experiment
statuses = [1,2,3,4,5,6,7]
# if you have workers you wish to exclude, add them here
exclude = ['917dbb9be7424b3cbec6efa473797ba9debug:93ff39594da4428daccb9af7c4b15ff5debug', #David's incomplete data
          '09b7deb476e6429db1b25b552859c749debug:ff70320d013748b1b0f8115c2d338924debug', # Also David's incomplete data
          '2bd1d528cb7a4e599cbe424631d6b9d0debug:851af84953964fd48dceb023a3616bf8debug', # My BS data
          '95eb13899fe641e98c1a5a054ea294fbdebug:1684f282f4fc4152a6f0263d84aa2237debug', # Long's data
          '0b13dd80fed64d81a6f64b3668359cfedebug:78f17c7fcbfd45f9a1db5e403d855012debug', # Here down is bad subj
          '51872971ba594b978d8d5eea3076b885debug:ea92decde88540529b875224445cafd9debug',
          '943cb9e6e42b4baaac35b92190bc5527debug:af4cd3e5561b4537a703341ff15b2664debug',
          '9d3ef32165a5428eb5537176d268c52bdebug:f6e8511e097b4b3a95a81dda65afe9d7debug',
          '9eaeb338a2f643b686ff95b2f0190966debug:d45cc51d808f461fb0510a532189702fdebug',
          'a584ced53d014ec39730bcd303f242b5debug:188ab0c4a12c4206816e31dd9d4fe0a6debug',
          'edf50978235a4cff962e83e1e9119b80debug:ab77f1b77cbd4c6796055b66487325c3debug',
          '84c26cc0665d4add9cf8d3f8f0127875debug:6ab82207d7424e7686750d64b7167727debug',
          '7b035484e9784dd1ac2cc9c42fb68174debug:0257b75610aa4978869bdd8d63ea9a9bdebug',
          '347c295f5d3842349cd54c33646705cddebug:74093f3249f240ab8e62915ed223f6f9debug',
          '252b28ffdd794e7a811df2a40b07f7aadebug:fc5ff5824f324e9084d06fc0665a126bdebug',
          '06bfbc6fc1754be7abe018523a5c315adebug:f477a0c01dda4beda2b1a1e632d1dcdadebug',
          'b9d3f08cdd2d44a9b4d5ee4c927b9f10debug:88fba7516cda4e2d8edfa28d9b42e977debug',
          '8432443cae554e64a462a66e073df0c2debug:ba194d05d74a467dbace45c93269788cdebug'] 
conditions = []
for row in rows:
    # only use subjects who completed experiment and aren't excluded
    if row['status'] in statuses and row['uniqueid'] not in exclude:
        conditions.append({
                'uniqueid': row['uniqueid'],
                'beginhit': row['beginhit'],
                'endhit': row['endhit'],
                'counterbalance': row['counterbalance']
            })
        data.append(row[data_column_name])

In [6]:
condition_frame = pd.DataFrame(conditions)
condition_frame.sort_values('beginhit')

,uniqueid,beginhit,endhit,counterbalance
77,f6228eeb65824d5a8b136c0bd3478152debug:00fc6b03...,2021-04-16 19:30:19,None,0
14,32b36083824447bf9d7c34e76a6b2f8fdebug:a1c36e45...,2021-04-18 13:28:40,None,0
62,ce371d1afc6c46f9abed3ea87fa924dadebug:d1932d0c...,2021-04-19 02:52:38,None,0
48,b46b74fa1eab4d87a4b848befffbebaddebug:175ab384...,2021-04-20 18:48:27,None,0
32,6bc837d05e3440688d5c894d5e7c24fbdebug:080cece9...,2021-04-20 19:03:42,None,0
...,...,...,...,...
52,b976264c18884276916ab60811df1403debug:888641aa...,2021-05-04 00:34:06,None,0
64,cf4419eef8a74cbe8d9185713e51f28edebug:32e18bc1...,2021-05-04 16:09:56,None,0
2,04cd3851c3704ca3aa6855bc0a8951eedebug:e9efeac1...,2021-05-04 20:47:16,None,0
51,b90d42a4739b4ecc8d0eb8eff8f31c53debug:d65da8f2...,2021-05-04 22:40:02,None,0
63,ce960440c30e4649a8f1ab3e8fc26e28debug:3f8693ec...,2021-05-20 18:04:44,None,0

In [7]:
# Now we have all participant datastrings in a list.
# Let's make it a bit easier to work with:

# parse each participant's datastring as json object
# and take the 'data' sub-object
subject_data = []
for subject_json in data:
    try:
        subject_dict = json.loads(subject_json)
        subject_data.append(subject_dict['data'])
    except:
        continue

In [8]:
# insert uniqueid field into trialdata in case it wasn't added
# in experiment:
for part in subject_data:
    for record in part:
        record['trialdata']['uniqueid'] = record['uniqueid']

In [9]:
# flatten nested list so we just have a list of the trialdata recorded
# each time psiturk.recordTrialData(trialdata) was called.
trialdata = []
for part in subject_data:
    for record in part:
        trialdata.append(record['trialdata'])

In [10]:
# Put all subjects' trial data into a dataframe object from the
# 'pandas' python library: one option among many for analysis
data_frame = pd.DataFrame(trialdata)
data_frame[data_frame['responses'].notnull()]

,rt,responses,type,trial_type,trial_index,time_elapsed,internal_node_id,uniqueid,stimulus,key_press,left_word_study,right_word_study,left_word_test,right_word_test,comparison_type,left_comp_type,right_comp_type,correct_side,chosen_side
0,5698.010,"{""name"":""Brian O'Neill""}",NAME,survey-html-form,0,5706,0.0-0.0-0.0,046bfbffa30149f88f20e4f1f3e41c92debug:5956004f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447,4993.795,"{""name"":""Simay Ipek""}",NAME,survey-html-form,0,4996,0.0-0.0-0.0,048762f91582481195bb2ec3cd3976c0debug:f16a913a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,11976.110,"{""name"":""a""}",NAME,survey-html-form,0,11978,0.0-0.0-0.0,04cd3851c3704ca3aa6855bc0a8951eedebug:e9efeac1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,23216.855,"{""name"":""Jeffrey Fishman""}",NAME,survey-html-form,0,23219,0.0-0.0-0.0,05156db02f584993ad2e9354a39e6fbfdebug:dba767cd...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1343,11430.470,"{""name"":""mandy""}",NAME,survey-html-form,0,11434,0.0-0.0-0.0,06d80ca086ad4507ab2cbcb949380200debug:6dfc96ee...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28271,6163.935,"{""name"":""Davis Buchanan""}",NAME,survey-html-form,0,6170,0.0-0.0-0.0,e4fd3fe82cfe411faaff792c1e109bf9debug:e155a6b5...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28718,5333.000,"{""name"":""Nnaemeka Ede""}",NAME,survey-html-form,0,5336,0.0-0.0-0.0,e55facee22f240739f4595eda588b909debug:3d4de5de...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29165,6461.420,"{""name"":""Yifei Pei""}",NAME,survey-html-form,0,6466,0.0-0.0-0.0,ea12586bab984f9c8bb464d98d5fd01fdebug:ad18783e...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29612,5246.405,"{""name"":""christine""}",NAME,survey-html-form,0,5248,0.0-0.0-0.0,f55f65ca2ec048b5b17abf1cca942555debug:e108dbd7...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30059,3482.530,"{""name"":""Alan""}",NAME,survey-html-form,0,3485,0.0-0.0-0.0,faf67b13237542c69a929861c06b55f3debug:94cea257...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Filtering out all incomplete sessions:
final_trials = data_frame[data_frame['trial_index'] == 446]
full_sessions = pd.DataFrame()
for row in final_trials.index:
    start = row - 446
    end = row + 1
    full_sessions = full_sessions.append(data_frame[start:end])
#full_sessions[444:450]

In [12]:
# Filtering for Mike's class:
class_df = full_sessions[full_sessions['chosen_side'].notnull()]
#class_df
#class_df.to_csv('data.csv')

In [13]:
class_data = full_sessions
%store class_data

Stored 'class_data' (DataFrame)

In [14]:
#pd.set_option('display.max_colwidth', -1)
class_data[class_data['responses'].notnull()]

,rt,responses,type,trial_type,trial_index,time_elapsed,internal_node_id,uniqueid,stimulus,key_press,left_word_study,right_word_study,left_word_test,right_word_test,comparison_type,left_comp_type,right_comp_type,correct_side,chosen_side
0,5698.010,"{""name"":""Brian O'Neill""}",NAME,survey-html-form,0,5706,0.0-0.0-0.0,046bfbffa30149f88f20e4f1f3e41c92debug:5956004f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447,4993.795,"{""name"":""Simay Ipek""}",NAME,survey-html-form,0,4996,0.0-0.0-0.0,048762f91582481195bb2ec3cd3976c0debug:f16a913a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
896,23216.855,"{""name"":""Jeffrey Fishman""}",NAME,survey-html-form,0,23219,0.0-0.0-0.0,05156db02f584993ad2e9354a39e6fbfdebug:dba767cd...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1343,11430.470,"{""name"":""mandy""}",NAME,survey-html-form,0,11434,0.0-0.0-0.0,06d80ca086ad4507ab2cbcb949380200debug:6dfc96ee...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1790,6220.665,"{""name"":""Ming Nga Cheung""}",NAME,survey-html-form,0,6224,0.0-0.0-0.0,074eba7cd4ea44c5ba25d72c7a2ebdb6debug:242ae9da...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28271,6163.935,"{""name"":""Davis Buchanan""}",NAME,survey-html-form,0,6170,0.0-0.0-0.0,e4fd3fe82cfe411faaff792c1e109bf9debug:e155a6b5...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28718,5333.000,"{""name"":""Nnaemeka Ede""}",NAME,survey-html-form,0,5336,0.0-0.0-0.0,e55facee22f240739f4595eda588b909debug:3d4de5de...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29165,6461.420,"{""name"":""Yifei Pei""}",NAME,survey-html-form,0,6466,0.0-0.0-0.0,ea12586bab984f9c8bb464d98d5fd01fdebug:ad18783e...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29612,5246.405,"{""name"":""christine""}",NAME,survey-html-form,0,5248,0.0-0.0-0.0,f55f65ca2ec048b5b17abf1cca942555debug:e108dbd7...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30059,3482.530,"{""name"":""Alan""}",NAME,survey-html-form,0,3485,0.0-0.0-0.0,faf67b13237542c69a929861c06b55f3debug:94cea257...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN