In [1]:
from sqlalchemy import create_engine, MetaData, Table
import json
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
db_url = "mysql+pymysql://maint:strangle.explode.sprout.underfeed.yo-yo@cmlpsiturk.compmemlab.org:3306/psiturk"
table_name = "JOR"

In [4]:
data_column_name = 'datastring'

# boilerplace sqlalchemy setup
engine = create_engine(db_url)
metadata = MetaData()
metadata.bind = engine
table = Table(table_name, metadata, autoload=True)

# make a query and loop through
s = table.select()

In [5]:
rows = s.execute()

# Status codes
NOT_ACCEPTED = 0
ALLOCATED = 1
STARTED = 2
COMPLETED = 3
SUBMITTED = 4
CREDITED = 5
QUITEARLY = 6
BONUSED = 7

In [6]:
# list of good subjects that completely the experiment while there was a minor bug
good_subj_bad_data = ['A139PEAH5CV1F9:3V0Z7YWSIZ7R5FP6RIR70C3H4352VB',
 'A198ZCUXUKIBQH:3A7Y0R2P2PVJF0S9YIYHNEMJMZIXJZ',
 'A1EHMVXQHA3C0R:3DH6GAKTYZWYFKNNL0N5UMHI73OYZQ',
 'A1FU2OAAG403DV:3PJUZCGDJ7N4UNES4YVCILRNZBE894',
 'A1K25EDNNKIMG6:3Q8GYXHFEQ9N532TIKY08RI43G15CL',
 'A1KGPGSI6I9TQ5:3L70J4KAZHTUG1KODCKS08G8GUDADV',
 'A1MT4FMXL4WRAF:3Z7VU45IPZO1PECK9BGWGZ6808WZ1Q',
 'A1WSW7HWIF100A:32N49TQG3HPGAIKA4XKM6UMFG1GVAE',
 'A24Y5LD7IBGZ3C:337RC3OW069X61BE1O9CF82QA3VVLS',
 'A2841N70V7W3E:3ZOTGHDK5JIPKUX7KLKZW2MD646SO1',
 'A2CV1WUWT6N0IK:3MH9DQ757XJH7U8DL72R6UVZ0F1GUJ',
 'A2HBP3TEE27F2J:3E13VNJ1NO2FUONA97SAG43I45EI1G',
 'A2IS9QLDNHDHFB:3CN4LGXD5YVICNZY07XF0Q4968NY4G',
 'A2LCT3RKEO4JZ:3MD9PLUKKJL43LJ9EYEUD6JB3JLZN2',
 'A2MOU3YD664C0H:3UWN2HHPUZC729XVJ6KMHDM8GU1SNM',
 'A2ZNOMZ35LKY8Q:32ZKVD547GU1HJNJQ1ECIAE27Z83BK',
 'A32XLTQFXPL4F8:3XM0HYN6NL66VB4QYQD9WLNOFSDPEI',
 'A35D8WIV6CP70I:3IQ1VMJRYURIDB771WFQECXIP9XA9D',
 'A3HFB277V5OXY0:3YMU66OBIOFC282TL8VSNF6967ZGHI',
 'A3MZUG72V5PSN6:3F6HPJW4JE74K4PBHSW3MEMVBC72WL',
 'A3P6WELYHCEI9W:3BQU611VFQR48SX29Q1QIHMYJRH99Z',
 'A3UXD4KRVZ8W2X:3QILPRALQ62PJPIM58EH0MM74AF8N7',
 'ABM563AV58JGH:386PBUZZXG4OF6BKKZVTCKRWFGOLJX',
 'AGZZIL4N46YKG:3OVHNO1VE78VH9SWP40RH17HPFKDZZ',
 'AHW8VQZD6IUJE:3JAOYWH7VJBZ9UYBYN4GNQDTJBCL92',
 'AJ7EAGA65M3ZU:3NG53N1RLWQPMAUZLNR94BR24PF8P2',
 'AJ93R2EQPVP81:3JW0YLFXRUNQWKNIVCLAAL2KFTKWWZ',
 'AJIT8FWMXWUO0:3OWEPKL08AJLJBD3V3MBMMQCTQ87NI',
 'AOXDT87CY4THW:3YOH7BII0AEMMVTWGOXB08PBL3QVKP',
 'ARL4T9U18Q3FS:31HQ4X3T3THHE9UA7T474LIJBZ1SLK',
 'ATA61WNUAP91U:38BQUHLA9X7MMZK20OODKTN7EP9MOO',
 'AU566WRASK7Z0:3R5F3LQFV3RML6JLFDE7SVJGTTRZOI',
 'AUA3VQ48GSMLF:39JEC7537V843XH8OBGDCPC3G43CVZ',
 'AXIYN25T2YUAQ:336KAV9KYRZ899KBWTER7B7BMURY2K',
 'AYYBMS4XQJ9AP:37W3JXSD67FULPIIAD3YVIN0Q1KWYY']

In [7]:
data = []

#status codes of subjects who completed experiment
statuses = [3,4,5,7]
# statuses=[0,1,2,3,4,5,6,7]

# if you have workers you wish to exclude, add them here
exclude = [] 
exclude = exclude + good_subj_bad_data

conditions = []
version = '2.2IDK'

for row in rows:
    # only use subjects who completed experiment and aren't excluded
    if (row['status'] in statuses) and (row['uniqueid'] not in exclude) and (row['codeversion'] == version):
        conditions.append({
                'uniqueid': row['uniqueid'],
                'beginhit': row['beginhit'],
                'endhit': row['endhit'],
                'status': row['status'],
                'counterbalance': row['counterbalance'],
                'workerid': row['workerid'],
                'codeversion': row['codeversion']
            })
        data.append(row[data_column_name])

In [8]:
condition_frame = pd.DataFrame(conditions)
condition_frame.sort_values('beginhit')

,uniqueid,beginhit,endhit,status,counterbalance,workerid,codeversion
28,A2U5SYR5AV8V19:3SPJ033422A8F5IJ3EKJ6STSOVSYJ2,2022-11-28 16:03:25,NaT,6,42,A2U5SYR5AV8V19,2.2IDK
56,ASGALCNYYJDZE:3Z4XG4ZF49YUVJWQ7E1QYOD56E58XN,2022-11-28 16:03:58,NaT,6,68,ASGALCNYYJDZE,2.2IDK
41,A3MZUG72V5PSN6:3F6HPJW4JE74K4PBHSW3MEMVBC72WL,2022-11-28 16:04:04,2022-11-28 16:31:20,4,31,A3MZUG72V5PSN6,2.2IDK
44,A3UCMUXVW6N4AL:3YMU66OBIOFC282TL8VSNF6967ZGHI,2022-11-28 16:04:12,NaT,6,95,A3UCMUXVW6N4AL,2.2IDK
33,A34JQ0NB3F5C8E:3MH9DQ757XJH7U8DL72R6UVZ0F1GUJ,2022-11-28 16:04:20,NaT,6,15,A34JQ0NB3F5C8E,2.2IDK
...,...,...,...,...,...,...,...
23,A2LCT3RKEO4JZ:3MD9PLUKKJL43LJ9EYEUD6JB3JLZN2,2022-11-29 18:58:00,2022-11-29 19:15:11,4,67,A2LCT3RKEO4JZ,2.2IDK
52,AJIT8FWMXWUO0:3OWEPKL08AJLJBD3V3MBMMQCTQ87NI,2022-11-29 19:14:21,2022-11-29 19:42:42,4,43,AJIT8FWMXWUO0,2.2IDK
2,A198ZCUXUKIBQH:3A7Y0R2P2PVJF0S9YIYHNEMJMZIXJZ,2022-11-29 19:17:32,2022-11-29 19:29:17,4,76,A198ZCUXUKIBQH,2.2IDK
6,A1K25EDNNKIMG6:3Q8GYXHFEQ9N532TIKY08RI43G15CL,2022-11-29 20:15:55,2022-11-29 20:28:06,4,0,A1K25EDNNKIMG6,2.2IDK
4,A1EHMVXQHA3C0R:3DH6GAKTYZWYFKNNL0N5UMHI73OYZQ,2022-11-29 20:18:17,2022-11-29 20:30:55,4,42,A1EHMVXQHA3C0R,2.2IDK

In [9]:
list(condition_frame['uniqueid'])

['A139PEAH5CV1F9:3V0Z7YWSIZ7R5FP6RIR70C3H4352VB',
 'A18PV3W45KFF1J:3Q8GYXHFEQ9N532TIKY08RI43G15CL',
 'A198ZCUXUKIBQH:3A7Y0R2P2PVJF0S9YIYHNEMJMZIXJZ',
 'A1BQFJJ2G17VN:3DH6GAKTYZWYFKNNL0N5UMHI73OYZQ',
 'A1EHMVXQHA3C0R:3DH6GAKTYZWYFKNNL0N5UMHI73OYZQ',
 'A1FU2OAAG403DV:3PJUZCGDJ7N4UNES4YVCILRNZBE894',
 'A1K25EDNNKIMG6:3Q8GYXHFEQ9N532TIKY08RI43G15CL',
 'A1KGPGSI6I9TQ5:3L70J4KAZHTUG1KODCKS08G8GUDADV',
 'A1MT4FMXL4WRAF:3Z7VU45IPZO1PECK9BGWGZ6808WZ1Q',
 'A1ONILGBGJ8Y5K:33TIN5LC05HJ9T5AH2T6HYFPSQGY97',
 'A1WSW7HWIF100A:32N49TQG3HPGAIKA4XKM6UMFG1GVAE',
 'A1XEF80X1H9K0Y:3WI0P0II62ZMFI65FN6EVY5IGOHDR2',
 'A233EY0PXNY4QT:3OWEPKL08AJLJBD3V3MBMMQCTQ87NI',
 'A24Y5LD7IBGZ3C:337RC3OW069X61BE1O9CF82QA3VVLS',
 'A2841N70V7W3E:3ZOTGHDK5JIPKUX7KLKZW2MD646SO1',
 'A297KB1PXY37V6:3Q8GYXHFEQ9N532TIKY08RI43GZ5CJ',
 'A29AKO47YFM70J:3IQ1VMJRYURIDB771WFQECXIP9XA9D',
 'A2CR0YT6047177:32N49TQG3HPGAIKA4XKM6UMFG1GVAE',
 'A2CT30FL5WZX1W:3WQQ9FUS6B1NIGTP2I989RMDNBH8BE',
 'A2CV1WUWT6N0IK:3MH9DQ757XJH7U8DL72R6UVZ0F1GUJ',
 'A2HBP3TEE27F2J:3E13VNJ1NO2FUONA97SAG43I45EI1G',
 'A2I4J4M27ZZKUT:3JAOYWH7VJBZ9UYBYN4GNQDTJBCL92',
 'A2IS9QLDNHDHFB:3CN4LGXD5YVICNZY07XF0Q4968NY4G',
 'A2LCT3RKEO4JZ:3MD9PLUKKJL43LJ9EYEUD6JB3JLZN2',
 'A2MH2VERMM2ZY:3Q8GYXHFEQ9N532TIKY08RI43GZ5CJ',
 'A2MLFOO40G0A9S:3A7Y0R2P2PVJF0S9YIYHNEMJMZIXJZ',
 'A2MOU3YD664C0H:3UWN2HHPUZC729XVJ6KMHDM8GU1SNM',
 'A2SKY317RZ3NCS:3IQ1VMJRYURIDB771WFQECXIP9XA9D',
 'A2U5SYR5AV8V19:3SPJ033422A8F5IJ3EKJ6STSOVSYJ2',
 'A2U6ZDMYJ6GQXS:3F0BG9B9MQUFVAHH25VM32OJX0SY7V',
 'A2YQ9TI4W68VLF:3TESA3PJ32HYMWZQN890SPY2JPUMM9',
 'A2ZNOMZ35LKY8Q:32ZKVD547GU1HJNJQ1ECIAE27Z83BK',
 'A32XLTQFXPL4F8:3XM0HYN6NL66VB4QYQD9WLNOFSDPEI',
 'A34JQ0NB3F5C8E:3MH9DQ757XJH7U8DL72R6UVZ0F1GUJ',
 'A35D8WIV6CP70I:3IQ1VMJRYURIDB771WFQECXIP9XA9D',
 'A39XQ8DIBGUGAH:39JEC7537V843XH8OBGDCPC3G43CVZ',
 'A3AP75LII2NPA:3PM8NZGV8ZN01NWMT8IQKFY50KQXQM',
 'A3BE0L8XRKG8GK:3J2UYBXQQMJZUF7RBNFL5WU3QCU604',
 'A3CLPT01KBRS5L:3L70J4KAZHTUG1KODCKS08G8GUDADV',
 'A3D507FIG1DLOK:38BQUHLA9X7MMZK20OODKTN7EP9MOO',
 'A3HFB277V5OXY0:3YMU66OBIOFC282TL8VSNF6967ZGHI',
 'A3MZUG72V5PSN6:3F6HPJW4JE74K4PBHSW3MEMVBC72WL',
 'A3P6WELYHCEI9W:3BQU611VFQR48SX29Q1QIHMYJRH99Z',
 'A3SEQOF348VNQN:3OWEPKL08AJLJBD3V3MBMMQCTQ87NI',
 'A3UCMUXVW6N4AL:3YMU66OBIOFC282TL8VSNF6967ZGHI',
 'A3UXD4KRVZ8W2X:3QILPRALQ62PJPIM58EH0MM74AF8N7',
 'ABM563AV58JGH:386PBUZZXG4OF6BKKZVTCKRWFGOLJX',
 'AGZZIL4N46YKG:3OVHNO1VE78VH9SWP40RH17HPFKDZZ',
 'AHT3IOVEDC7JL:3V0Z7YWSIZ7R5FP6RIR70C3H4352VB',
 'AHW8VQZD6IUJE:3JAOYWH7VJBZ9UYBYN4GNQDTJBCL92',
 'AJ7EAGA65M3ZU:3NG53N1RLWQPMAUZLNR94BR24PF8P2',
 'AJ93R2EQPVP81:3JW0YLFXRUNQWKNIVCLAAL2KFTKWWZ',
 'AJIT8FWMXWUO0:3OWEPKL08AJLJBD3V3MBMMQCTQ87NI',
 'ALTJ8ONS93XVL:3Q8GYXHFEQ9N532TIKY08RI43GZ5CJ',
 'AOXDT87CY4THW:3YOH7BII0AEMMVTWGOXB08PBL3QVKP',
 'ARL4T9U18Q3FS:31HQ4X3T3THHE9UA7T474LIJBZ1SLK',
 'ASGALCNYYJDZE:3Z4XG4ZF49YUVJWQ7E1QYOD56E58XN',
 'ATA61WNUAP91U:38BQUHLA9X7MMZK20OODKTN7EP9MOO',
 'AU566WRASK7Z0:3R5F3LQFV3RML6JLFDE7SVJGTTRZOI',
 'AUA3VQ48GSMLF:39JEC7537V843XH8OBGDCPC3G43CVZ',
 'AXIYN25T2YUAQ:336KAV9KYRZ899KBWTER7B7BMURY2K',
 'AYYBMS4XQJ9AP:37W3JXSD67FULPIIAD3YVIN0Q1KWYY']

In [10]:
# Now we have all participant datastrings in a list.
# Let's make it a bit easier to work with:

# parse each participant's datastring as json object
# and take the 'data' sub-object
subject_data = []
for subject_json in data:
    try:
        subject_dict = json.loads(subject_json)
        subject_data.append(subject_dict['data'])
    except:
        continue

In [11]:
# insert uniqueid field into trialdata in case it wasn't added
# in experiment:
for part in subject_data:
    for record in part:
        record['trialdata']['uniqueid'] = record['uniqueid']

In [12]:
# flatten nested list so we just have a list of the trialdata recorded
# each time psiturk.recordTrialData(trialdata) was called.
trialdata = []
for part in subject_data:
    for record in part:
        trialdata.append(record['trialdata'])

In [13]:
# Put all subjects' trial data into a dataframe object from the
# 'pandas' python library: one option among many for analysis
data_frame = pd.DataFrame(trialdata)

# Move information in data column into individual columns
data_frame = pd.concat([data_frame.drop(['data', 'correct_side'], axis=1), data_frame['data'].apply(pd.Series)], axis=1)

# Print how many subj before eliminations:
print("Subjects before eliminations: ", len(data_frame['uniqueid'].unique()))

Subjects before eliminations:  61

In [14]:
# Remove subjects that admitted to writing down studied words
were_distracted = 0
took_notes = 0
both = 0

for i in data_frame['uniqueid'].unique():
    df = data_frame[data_frame['uniqueid'] == i]
    
    # get whether or not indicated distracted / wrote notes
    distracted = (df['responses'].str.startswith("{\"distracted\":\"Yes\"}", na=False) == True).sum()
    wrote_notes = (df['responses'].str.startswith("{\"wrote_notes\":\"Yes\"}", na=False) == True).sum()
    
    # increment counters appropriately
    if distracted and wrote_notes:
        both += 1
        data_frame = data_frame.drop(df.index)
    elif distracted:
        were_distracted += 1
        data_frame = data_frame.drop(df.index)
    elif wrote_notes:
        took_notes += 1
        data_frame = data_frame.drop(df.index)
    
print("individuals distracted, but did not take notes: ", were_distracted)
print("Individuals who took notes, but were not distracted: ", took_notes)
print("Individuals who did both: ", both)

# Print how many subj after eliminations
print("Subjects remaining: ", len(data_frame['uniqueid'].unique()))

individuals distracted, but did not take notes:  1
Individuals who took notes, but were not distracted:  2
Individuals who did both:  1
Subjects remaining:  57

In [15]:
data_frame_2_2IDK = data_frame
%store data_frame_2_2IDK

Stored 'data_frame_2_2IDK' (DataFrame)

In [16]:
data_frame['correct_side'].unique()

array([nan, 'left'], dtype=object)

In [17]:
data_frame['block'][40:60]

    block  block
40    1.0    NaN
41    NaN    NaN
42    1.0    NaN
43    NaN    NaN
44    1.0    NaN
45    NaN    NaN
46    1.0    NaN
47    NaN    NaN
48    1.0    NaN
49    NaN    NaN
50    1.0    1.0
51    NaN    NaN
52    1.0    NaN
53    NaN    NaN
54    1.0    NaN
55    NaN    NaN
56    1.0    NaN
57    NaN    NaN
58    1.0    NaN
59    NaN    NaN

In [18]:
['rt', 'key_press', 'trial_type', 'uniqueid', 'left_word_study', 'right_word_study', 'block', 'left_word_test', 'right_word_test',
 'chosen_side', 'timedout', 'test_trial', 'comparison_type', 'type', 'block', 'comparison_type', 'correct_side', 'left_comp_type',
 'left_word_test', 'right_comp_type', 'right_word_test', 'test_trial', 'trial_period']

['rt',
 'key_press',
 'trial_type',
 'uniqueid',
 'left_word_study',
 'right_word_study',
 'block',
 'left_word_test',
 'right_word_test',
 'chosen_side',
 'timedout',
 'test_trial',
 'comparison_type',
 'type',
 'block',
 'comparison_type',
 'correct_side',
 'left_comp_type',
 'left_word_test',
 'right_comp_type',
 'right_word_test',
 'test_trial',
 'trial_period']

In [19]:
study, test, comp, trial_period

NameError: name 'study' is not defined