In [1]:
from sqlalchemy import create_engine, MetaData, Table
import json
import pandas as pd

In [2]:
db_url = "mysql+pymysql://maint:strangle.explode.sprout.underfeed.yo-yo@cmlpsiturk.compmemlab.org:3306/psiturk"
table_name = "JOR"

In [3]:
data_column_name = 'datastring'
# boilerplace sqlalchemy setup
engine = create_engine(db_url)
metadata = MetaData()
metadata.bind = engine
table = Table(table_name, metadata, autoload=True)
# make a query and loop through
s = table.select()

In [4]:
rows = s.execute()

# Status codes
NOT_ACCEPTED = 0
ALLOCATED = 1
STARTED = 2
COMPLETED = 3
SUBMITTED = 4
CREDITED = 5
QUITEARLY = 6
BONUSED = 7

In [5]:
data = []
#status codes of subjects who completed experiment
statuses = [3,4,5,7]

# if you have workers you wish to exclude, add them here
exclude = [] 
conditions = []
version = '1.0'
for row in rows:
    # only use subjects who completed experiment and aren't excluded
    if (row['status'] in statuses) and (row['uniqueid'] not in exclude) and (row['codeversion'] == version):
        conditions.append({
                'uniqueid': row['uniqueid'],
                'beginhit': row['beginhit'],
                'endhit': row['endhit'],
                'status': row['status'],
                'counterbalance': row['counterbalance'],
                'workerid': row['workerid'],
                'codeversion': row['codeversion']
            })
        data.append(row[data_column_name])

In [6]:
condition_frame = pd.DataFrame(conditions)
condition_frame.sort_values('beginhit')

,uniqueid,beginhit,endhit,status,counterbalance,workerid,codeversion
736,AJRY9ALX8069Y:37FMASSAYDYG7M52B4LZMGGO28MBIX,2021-05-27 18:08:42,2021-05-27 18:47:13,4,0,AJRY9ALX8069Y,1.0
110,A1IKK576F8WY0N:3DL65MZB8EMN1MVMTLR3CLOES0FECY,2021-05-27 18:09:00,2021-05-27 18:42:28,4,0,A1IKK576F8WY0N,1.0
512,A39MKVROUZ1UWR:3OB0CAO74IWCOZNTFEHYUFDAN4OYH5,2021-05-27 18:09:01,2021-05-27 18:42:45,4,0,A39MKVROUZ1UWR,1.0
753,ALEE1QD4TW9G4:3IFS6Q0HJJQFO8M4MQ7UC5QO6W7SIE,2021-05-27 18:09:52,2021-05-27 18:51:09,4,0,ALEE1QD4TW9G4,1.0
253,A256FHXGSY0E5D:3VBEN272ML61SHG9W27RRTD8RJFSGM,2021-05-27 18:10:49,2021-05-27 19:32:19,4,0,A256FHXGSY0E5D,1.0
...,...,...,...,...,...,...,...
712,AEJSEPPG2T91E:3QAVNHZ3ENBDED8GQTIGJLOA8V7AL0,2021-07-20 21:34:08,2021-07-20 21:59:25,5,63,AEJSEPPG2T91E,1.0
83,A1F1BIPJR11LSR:3TYCR1GOTDQEFLGO2LYF0EFJHFTLZP,2021-07-20 21:34:31,2021-07-20 22:01:57,5,68,A1F1BIPJR11LSR,1.0
339,A2IWLQVH5PE17W:3GD6L00D3T41Q7D1UMQ28XAW45BM18,2021-07-20 21:37:03,2021-07-20 22:07:33,5,31,A2IWLQVH5PE17W,1.0
224,A218O01G4FBJ5P:3QAVNHZ3ENBDED8GQTIGJLOA8UOALF,2021-07-20 21:49:54,2021-07-20 22:32:09,5,47,A218O01G4FBJ5P,1.0
28,A13WTEQ06V3B6D:3K5TEWLKGWIVG038GLCZNSAVC0MVIE,2021-07-20 22:03:58,2021-07-20 22:33:10,5,93,A13WTEQ06V3B6D,1.0

In [7]:
condition_frame['uniqueid']

0      A002160837SWJFPIAI7L7:38BQUHLA9X7MMZK20OODKTN4...
1          A100Y89FZO4J0B:3ZGVPD4G6UO2YYOTBU06M5P06KLTZL
2          A10AVWALIHR4UQ:3NQL1CS15SFH60IDK3Y29G4JZG2VYT
3          A10BH9PYCYUKDJ:3X0H8UUIT2VXP369B7B9DWZWNZ3SW5
4          A10BM9M5Q8J6K0:3WJEQKOXA990O64CXJ0XZ6FW65OA18
                             ...
843         AZ69TBTDH7AZS:340UGXU9DZ80PRY8A21D6VY63NWVUQ
844         AZ8JL3QNIPY4U:32SVAV9L3GGWY9IRKNEGNZUT50C3AQ
845         AZJKB1D4AFMQY:3XLBSAQ9Z5JF00RMYRX5H9XIGQ4Z7U
846         AZNIEFUIVB2H0:3IGI0VL648RS4H52CP3DX8C4ZY6NOO
847         AZZA3J049G7R5:3300DTYQT3ORVN55Y3SYWQDVWFGEQ3
Name: uniqueid, Length: 848, dtype: object

In [8]:
# Now we have all participant datastrings in a list.
# Let's make it a bit easier to work with:

# parse each participant's datastring as json object
# and take the 'data' sub-object
subject_data = []
for subject_json in data:
    try:
        subject_dict = json.loads(subject_json)
        subject_data.append(subject_dict['data'])
    except:
        continue

In [9]:
# insert uniqueid field into trialdata in case it wasn't added
# in experiment:
for part in subject_data:
    for record in part:
        record['trialdata']['uniqueid'] = record['uniqueid']

In [10]:
# flatten nested list so we just have a list of the trialdata recorded
# each time psiturk.recordTrialData(trialdata) was called.
trialdata = []
for part in subject_data:
    for record in part:
        trialdata.append(record['trialdata'])

In [11]:
# Put all subjects' trial data into a dataframe object from the
# 'pandas' python library: one option among many for analysis
data_frame = pd.DataFrame(trialdata)

In [12]:
# Print how many subj before eliminations:
len(data_frame['uniqueid'].unique())

848

In [13]:
# Eliminate all participants that were able to get around the system and retry the experiment after failing
double_up_count = 0
for i in data_frame['uniqueid'].unique():
    subj_df = data_frame[data_frame['uniqueid'] == i]
    if len(subj_df[subj_df['type'] == 'NAME'].index) > 1:
        #display(subj_df[subj_df['uniqueid'] == i][0:30])
        double_up_count += 1
        data_frame = data_frame.drop(subj_df.index)
double_up_count

26

In [14]:
# Remove subjects that admitted to writing down studied words
said_yes_count = 0
for i in data_frame[data_frame['subj_wrote_words'] == 'yes']['uniqueid'].unique():
    said_yes_count += 1
    data_frame = data_frame.drop(data_frame[data_frame['uniqueid'] == i].index)
said_yes_count

194

In [15]:
def compute_ave_corr_for_comps(df, comparisons):
    def compute_ave(df, comp):
        ordered = df[df['left_comp_type'] == comp[0]]
        ordered = ordered[ordered['right_comp_type'] == comp[1]]
        inverse = df[df['left_comp_type'] == comp[1]]
        inverse = inverse[inverse['right_comp_type'] == comp[0]]
        temp = pd.concat([ordered, inverse])
        corr = temp[temp['correct_side'] == temp['chosen_side']]
        proportion = (len(corr)) / len(temp)
        return proportion
    proportion_correct = 0
    
    for i in comparisons:
        proportion_correct += compute_ave(df, i)
        
    return proportion_correct / len(comparisons)

In [16]:
# Remove subjects based on their scores (criteria is as follows: 90% for 0s, 75% for many, 70% for 2s, 70% for 4s, 65% for 16s, ):
criteria_count = 0
for i in data_frame['uniqueid'].unique():
    df = data_frame[data_frame['uniqueid'] == i]
    zeros = compute_ave_corr_for_comps(df, [(0, 2), (0, 4), (0, 16), (0, 68), (0, "many")])
    twos = compute_ave_corr_for_comps(df, [(0, 2), (2, 4), (2, 16), (2, 68), (2, "many")])
    fours = compute_ave_corr_for_comps(df, [(0, 4), (2, 4), (4, 16), (4, 68), (4, "many")])
    sixteens = compute_ave_corr_for_comps(df, [(0, 16), (2, 16), (4, 16), (16, 68), (16, "many")])
    sixtyfours = compute_ave_corr_for_comps(df, [(0, 68), (2, 68), (4, 68), (16, 68), (68, "many")])
    manys = compute_ave_corr_for_comps(df, [(0, "many"), (2, "many"), (4, "many"), (16, "many"), (68, "many")])
    all_comps = compute_ave_corr_for_comps(df, [(0, 2), (0, 4), (0, 16), (0, 68), (0, "many"), (2, 4), (2, 16), (2, 68), (2, "many"), (4, 16), (4, 68), (4, "many"), (16, 68), (16, "many"), (68, "many")])
    if (zeros < 0.9 or twos < 0.7 or fours < 0.65 or sixteens < 0.65 or sixtyfours < 0.65 or manys < 0.75 or all_comps > 0.95):
        criteria_count += 1
        data_frame = data_frame.drop(df.index)

criteria_count

250

In [17]:
# Print how many subj after eliminations
len(data_frame['uniqueid'].unique())

378

In [18]:
%store data_frame

Stored 'data_frame' (DataFrame)