In [28]:
from sqlalchemy import create_engine, MetaData, Table
import json
import pandas as pd

In [29]:
import warnings
warnings.filterwarnings("ignore")

In [30]:
db_url = "mysql+pymysql://maint:strangle.explode.sprout.underfeed.yo-yo@cmlpsiturk.compmemlab.org:3306/psiturk"
table_name = "JOR"

In [31]:
data_column_name = 'datastring'
# boilerplace sqlalchemy setup
engine = create_engine(db_url)
metadata = MetaData()
metadata.bind = engine
table = Table(table_name, metadata, autoload=True)
# make a query and loop through
s = table.select()

In [32]:
rows = s.execute()

# Status codes
NOT_ACCEPTED = 0
ALLOCATED = 1
STARTED = 2
COMPLETED = 3
SUBMITTED = 4
CREDITED = 5
QUITEARLY = 6
BONUSED = 7

In [33]:
data = []
#status codes of subjects who completed experiment
statuses = [3,4,5,7]
# statuses = [1, 2, 3, 4, 5, 6, 7]
# if you have workers you wish to exclude, add them here
exclude = [] 

conditions = []
version = '2.1'

for row in rows:
    # only use subjects who completed experiment and aren't excluded
    if (row['status'] in statuses) and (row['uniqueid'] not in exclude)  and (row['codeversion'] == version):
        conditions.append({
                'uniqueid': row['uniqueid'],
                'beginhit': row['beginhit'],
                'endhit': row['endhit'],
                'status': row['status'],
                'counterbalance': row['counterbalance'],
                'workerid': row['workerid'],
                'codeversion': row['codeversion']
            })
        data.append(row[data_column_name])

In [34]:
condition_frame = pd.DataFrame(conditions)
condition_frame.sort_values('beginhit')

,uniqueid,beginhit,endhit,status,counterbalance,workerid,codeversion
496,A2P65VCJIAZOYW:37XITHEISXGCAQ0RFRB3BSNYYBORC8,2021-11-22 19:17:19,2021-11-22 19:29:53,4,72,A2P65VCJIAZOYW,2.1
142,A1J1NCXYBK15FI:3NGMS9VZTMPMACFSFY1A29UIS06FFD,2021-11-22 19:17:22,2021-11-22 19:29:37,4,63,A1J1NCXYBK15FI,2.1
487,A2OK6WBYM3HN72:3ZWFC4W1UVEJD2K16T14JY81VOGRFJ,2021-11-22 19:18:18,2021-11-22 19:37:53,4,45,A2OK6WBYM3HN72,2.1
578,A2YO837C0O1E91:374TNBHA8C2P1SMWY44S3T5C5D4QYE,2021-11-22 19:23:45,2021-11-22 19:37:02,4,95,A2YO837C0O1E91,2.1
382,A2CEA6DE8R495G:39K0FND3AIMXKVQ1Q5JVJY30SL5MAE,2021-11-22 19:24:22,2021-11-22 20:00:33,4,16,A2CEA6DE8R495G,2.1
...,...,...,...,...,...,...,...
944,AGL27C0JWH8RV:3KIBXJ1WD61RWBKZFCBX5GV1LHFOK8,2022-04-29 18:53:17,2022-04-29 19:09:46,4,48,AGL27C0JWH8RV,2.1
894,AA658QPCBW6UL:3WI0P0II62ZMFI65FN6EVY5GCV2RD7,2022-04-29 19:02:19,2022-04-29 19:14:16,4,33,AA658QPCBW6UL,2.1
22,A12TX7TI963R41:3Z2R0DQ0JILA343KWS2X08FT0FP2EY,2022-04-29 19:14:45,2022-04-29 19:25:31,4,67,A12TX7TI963R41,2.1
493,A2OTIGIEZI42EQ:3U4J9857OFIJI2O6SDH2VRQG8Z87BV,2022-04-29 19:18:39,2022-04-29 19:41:50,4,97,A2OTIGIEZI42EQ,2.1
853,A48WNR6C4CI3J:3RRCEFRB7NJMZF6NQFJVSF66HW6B41,2022-04-29 19:21:03,2022-04-29 19:35:38,4,75,A48WNR6C4CI3J,2.1

In [35]:
condition_frame['uniqueid']

0       A100LZFY07W5DO:339ANSOTR69H0P9WHHYSLJZF84AIKS
1       A10CKV84WFUWJK:3U8YCDAGXQNS4XQBQWTJB1BSKMJ0QG
2       A10IHUFXXNLY3X:3A0EX8ZRN9V2XMK7FM7284ADJSRBY5
3       A10JXOU89D5RXR:3SNLUL3WO5UXTMMEWYZ7JM05RZ1ULE
4       A10KRP4WDWI8PN:3WQQ9FUS6B1NIGTP2I989RMBHKUB82
                            ...
1122     AZ7AF8JK32L4G:3E7TUJ2EGDTGBIAJL66S4D5M3859D6
1123     AZHURC6RU5JCY:3Q8GYXHFEQ9N532TIKY08RI2XNO5CC
1124     AZRCUK208KJ04:3TMSXRD2X77XVJ7FYOWPHVCOF7WW1V
1125     AZWX0I6HRDJ4Q:33FBRBDW6P66SLLVGI53KBST1XLC8N
1126     AZX0UB8YH7COK:3GNA64GUZFBRZ4CCN2ZVSW7J0TJ5QS
Name: uniqueid, Length: 1127, dtype: object

In [20]:
# Now we have all participant datastrings in a list.
# Let's make it a bit easier to work with:

# parse each participant's datastring as json object
# and take the 'data' sub-object
subject_data = []
for subject_json in data:
    try:
        subject_dict = json.loads(subject_json)
        subject_data.append(subject_dict['data'])
    except:
        continue

In [21]:
# insert uniqueid field into trialdata in case it wasn't added
# in experiment:
for part in subject_data:
    for record in part:
        record['trialdata']['uniqueid'] = record['uniqueid']

In [22]:
# flatten nested list so we just have a list of the trialdata recorded
# each time psiturk.recordTrialData(trialdata) was called.
trialdata = []
for part in subject_data:
    for record in part:
        trialdata.append(record['trialdata'])

In [23]:
# Put all subjects' trial data into a dataframe object from the
# 'pandas' python library: one option among many for analysis
data_frame = pd.DataFrame(trialdata)

In [24]:
#data_frame[data_frame['subj_wrote_words'].notnull()][100:150]
#data_frame

In [25]:
# Print how many subj before eliminations:
len(data_frame['uniqueid'].unique())

3007

In [ ]:
# Remove subjects that admitted to writing down studied words
said_yes_count = 0
for i in data_frame[data_frame['subj_wrote_words'] == 'yes']['uniqueid'].unique():
    said_yes_count += 1
    data_frame = data_frame.drop(data_frame[data_frame['uniqueid'] == i].index)
said_yes_count

In [ ]:
# Print how many subj after eliminations
len(data_frame['uniqueid'].unique())

In [17]:
def getComparisonAccuracy(df, comp1, comp2):
    left_correct = len(df[df['left_comp_type'] == comp1][df['right_comp_type'] == comp2][df['chosen_side'] == df['correct_side']])
    right_correct = len(df[df['left_comp_type'] == comp2][df['right_comp_type'] == comp1][df['chosen_side'] == df['correct_side']])
    left = len(df[df['left_comp_type'] == comp1][df['right_comp_type'] == comp2])
    right = len(df[df['left_comp_type'] == comp2][df['right_comp_type'] == comp1])
    return (left_correct + right_correct)/(left + right)

def getFirstDistanceAccuracy(df, dist):
    second_distances = [6, 8, 10, 16, 22, 30, 40]
    total = 0
    num = 0
    for i in second_distances:
        if (i > dist):
            total += getComparisonAccuracy(df, dist, i)
            num += 1
    return total / num

def getSecondDistanceAccuracy(df, dist):
    first_distances = [4, 6, 8, 10, 14, 18, 22, 28, 34]
    total = 0
    num = 0
    for i in first_distances:
        if (i < dist):
            total += getComparisonAccuracy(df, dist, i)
            num += 1
    return total / num

def getOverallAccuracy(df):
    first_distances = [4, 6, 8, 10, 14, 18, 22, 28, 34]
    total = 0
    for i in first_distances:
        total += getFirstDistanceAccuracy(df, i)
    return total / len(first_distances)

In [18]:
criteria_count = 0
for i in data_frame['uniqueid'].unique():
    
    df = data_frame[data_frame['uniqueid'] == i]
    if (getOverallAccuracy(df) < 0.6):
        data_frame = data_frame.drop(df.index)
        criteria_count += 1

criteria_count

577

In [19]:
# Print how many subj after eliminations
len(data_frame['uniqueid'].unique())

200

In [20]:
data_frame_2_1 = data_frame
%store data_frame_2_1

Stored 'data_frame_2_1' (DataFrame)

In [21]:
data_frame_2_1

,rt,responses,type,trial_type,trial_index,time_elapsed,internal_node_id,uniqueid,stimulus,key_press,...,right_word_study,trial_period,left_word_test,right_word_test,chosen_side,comparison_type,left_comp_type,right_comp_type,correct_side,subj_wrote_words
1419,246257.5,"{""name"":""Alexey Aleshin""}",NAME,survey-html-form,0,246262,0.0-0.0-0.0,A118DBYIFGAOJ9:3OXV7EAXLFXVB76OUAX47US8NXS36I,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1420,1686.8,NaN,NaN,html-keyboard-response,1,248158,0.0-1.0,A118DBYIFGAOJ9:3OXV7EAXLFXVB76OUAX47US8NXS36I,Welcome to the <strong>Judgment of Recency</st...,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1421,3537.6,NaN,NaN,html-button-response,2,251905,0.0-2.0-0.0,A118DBYIFGAOJ9:3OXV7EAXLFXVB76OUAX47US8NXS36I,<p class='inst-justified'>According to Wikiped...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1422,1998.5,NaN,NaN,html-button-response,3,253908,0.0-2.0-1.0,A118DBYIFGAOJ9:3OXV7EAXLFXVB76OUAX47US8NXS36I,<p class='inst'>How often do you realize you'v...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1423,1502.0,NaN,NaN,html-keyboard-response,4,255416,0.0-3.0,A118DBYIFGAOJ9:3OXV7EAXLFXVB76OUAX47US8NXS36I,"<p>In this experiment, you will encounter a nu...",,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199577,NaN,NaN,NaN,html-keyboard-response,170,694872,0.0-161.0,AZHURC6RU5JCY:3Q8GYXHFEQ9N532TIKY08RI2XNO5CC,"<h1 style=""font-size: 35px"">PLAYGROUND</h1><h1...",None,...,BUCKET,study,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199578,2331.0,NaN,NaN,html-keyboard-response,171,697956,0.0-162.0,AZHURC6RU5JCY:3Q8GYXHFEQ9N532TIKY08RI2XNO5CC,"<h1 style=""font-size: 35px;"">PEACH<span style=...",z,...,NaN,test,PEACH,EUROPE,0.0,"[18, 40]",18.0,40.0,0.0,NaN
199579,NaN,NaN,NaN,html-keyboard-response,172,702712,0.0-163.0,AZHURC6RU5JCY:3Q8GYXHFEQ9N532TIKY08RI2XNO5CC,"<h1 style=""font-size: 35px"">HUSBAND</h1><h1 st...",None,...,JELLY,study,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199580,2161.2,NaN,NaN,html-keyboard-response,173,705627,0.0-164.0,AZHURC6RU5JCY:3Q8GYXHFEQ9N532TIKY08RI2XNO5CC,"<h1 style=""font-size: 35px;"">QUAIL<span style=...",.,...,NaN,test,QUAIL,SLIME,1.0,"[6, 22]",22.0,6.0,1.0,NaN
199581,5367.7,NaN,NaN,html-button-response,174,711751,0.0-165.0,AZHURC6RU5JCY:3Q8GYXHFEQ9N532TIKY08RI2XNO5CC,<p>Congratulations on finishing the experiment...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no